spring:
  application:
    name:
      givetree

  profiles:
    include: finance, local

  config:
    import: classpath:/properties/application-secret.yml

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true
